.iml
.project
.classpath
derby.log
server/build/
server/bin/
server/.settings/
clients/build/
clients/bin
clients/.settings
server/serverDb
.gradle/2.9/
.gradle/
server/server.log
server/logs
server/logs/*
**/.settings/
**/build/
**/bin/
*/logs
clients/.dbeaver-data-sources.xml
